<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      border-collapse: collapse;
      width: 1px;
      white-space: nowrap;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    th {
      background-color: #4CAF50;
      color: white;
    }

    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 1px 1px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }

    .button:visited {
      color: white;
    }

    .button:hover {
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
</head>
<body>

<p id="notice"><%= notice %></p>

<h1>Ordersheets</h1>

<%= link_to 'New Ordersheet', new_ordersheet_path, :class => 'button' %>
<%= link_to 'Main Page', root_path, :class => 'button' %>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Amount</th>
    <th>Height</th>
    <th>Width</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @ordersheets.each do |ordersheet| %>
    <tr>
      <td><%= ordersheet.id %></td>
      <td><%= ordersheet.amount %></td>
      <td><%= ordersheet.height %></td>
      <td><%= ordersheet.width %></td>
      <td><%= link_to 'Show', ordersheet %></td>
      <td><%= link_to 'Edit', edit_ordersheet_path(ordersheet) %></td>
      <td><%= link_to 'Destroy', ordersheet, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if unless @ordersheets.empty? %>
  <%= form_tag("/export", method: "get") do %>
    <%= label_tag("Select algorithm:") %>
    <%= select_tag(:selected_algorithm_id, options_for_select([['Best area fit', 1], ['Best long side fit', 2], ['Best short side fit', 3], ['Bottom left', 4]]), :selected => params[:selected_algorithm_id]) %>
    <%= submit_tag("Execute order", :class => 'button') %>
  <% end %>
<% end %>
<% end %>
<br>